<div class = "container">
  <app-inventory (itemToAdd)="addIntoCart($event)"></app-inventory>


  <div>
    <h2>Shopping cart:</h2>
    <h4 *ngIf="cart.size==0"> You have no items in your cart</h4>
    <table>
      <tr *ngFor="let item of cart | keyvalue">
        <td class = "cart">
          <img src="{{item.key.image}}" alt="{{item.key.name}}">
          {{item.key.name}}
          <span>Quantity: {{item.value}}</span>
          <button (click)="removeItem(item.key)">remove</button>
        </td>

      </tr>
    </table>
  </div>

</div>
